/* BODY */ 
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
}

/* HERO -> img + h1 + 2p */
#hero {
    width: 592px;
    margin: 0 auto 72px;
}

/* HEADER IMG ON HERO */
#hero img {
    margin: 0 auto;
}

/* HEADER */
h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

/* SPAN ON h1 -> "ÚNICOS" */
h1 span {
  font-weight: bold;
  margin-bottom: 32px;
}

/* ALL <span> AND ALL <a> */
span, a {
  color: #ff9900;
}

/* ALL <p> AND #footer */
p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

/* distance between footer items */
#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}